<% include ../partials/header_start.ejs %>
<link rel="stylesheet" href="/css/clean-blog.css">
<% include ../partials/header_end.ejs %>

<header class="masthead" style="background-image: url('<%= country.img %>')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1><a href="/" class="text-white" title="<%= __('post.all.change.country') %>"><%= __(country.name) %></a></h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <% if(sort && sortType === 'date') { %>
            <div class="alert alert-info" role="alert">
                <small>
                    Отсортировано по дате. Показываются результаты за <%= dateformat(sortDate, 'date') %>. <a href="/post/all?country=<%= country.name %>" class="alert-link">Отменить</a>.
                </small>
            </div>
            <% } %>

            <% for(var i = 0; i < posts.length; i++) { %>
                <% var post = posts[i]; %>
                <div class="post-preview">
                    <a href="/post/<%= post._id %>">
                        <h2 class="post-title"><%= post.title %></h2>
                        <h3 class="post-subtitle"><%- cropText(post.body) %></h3>
                    </a>

                    <p class="post-meta">
                        Опубликовано
                        <a href="/post/all?country=<%= country.name %>&sort=date&date=<%= post.createdAt.toISOString() %>"><%= dateformat(post.createdAt, "date") %></a>
                        в
                        <%= dateformat(post.createdAt, "time") %>
                        пользователем
                        <a href="/user/<%= post.user.username %>"><%= post.user.username %></a>
                    </p>
                </div>
                <hr>
            <% } %>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>