<% include ../partials/header_start.ejs %>
<!-- medium editor css -->
<link rel="stylesheet" href="/css/post/libs/medium-editor.min.css">
<link rel="stylesheet" href="/css/post/libs/medium-editor.theme.default.min.css">
<!-- page styles -->
<link rel="stylesheet" href="/css/post/edit.css">
<% include ../partials/header_end.ejs %>
<div class="container d-flex flex-row justify-content-center mt-3 mt-md-4">
    <div class="waypoint-cards"></div>
    <div class="position-sticky" id="map"></div>
</div>
<!-- strip tags lib -->
<script src="/js/libs/jquery.fittext.js"></script>
<script src="/js/libs/he.js"></script>
<!-- medium editor js -->
<script src="/js/post/libs/medium-editor.min.js"></script>
<script>
    let editor = new MediumEditor('#post-description-editor', {
        autoLink: true,
        buttonLabels: 'fontawesome',
        placeholder: {
            text: 'Начните печатать...',
        },
        toolbar: {
            buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3'],
        },
    });

    tippy('[title]');

    const receivedPostData = {
        posted: <%= post.posted %>,
        title: '<%= post.title %>',
        description: '<%= post.description %>',
        markers: [
            <% for(let i = 0; i < post.markers.length; i++) { %>
                <% let marker = post.markers[i]; %>
                {
                    positionIndex: <%= marker.positionIndex %>,
                    position: '<%= marker.position %>',
                    cardId: '<%= marker.cardId %>',
                    header: '<%= marker.header %>',
                    body: '<%= marker.body %>',
                },
            <% } %>
        ],
        userId: '<%= post.userId %>',
        postId: '<%= post._id %>'
    };

    console.dir(receivedPostData);
</script>
<!-- create additional buttons in header -->
<script src="/js/post/edit-header.js"></script>
<!-- init maps and other new post page controls -->
<script src="/js/post/edit.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjb3frwKoNDFK5GTYJgQw3QPCSlpEjoM8&language=ru&region=RU&libraries=places&callback=initMap" async defer></script>
<% include ../partials/footer.ejs %>