<% include ../partials/header_start.ejs %>
<!-- page styles -->
<link rel="stylesheet" href="/css/post/index.css">
<% include ../partials/header_end.ejs %>
<div class="container mt-3 mt-md-4">
    <% include ../partials/post/cards_and_map.ejs %>
</div>
<!-- util libs -->
<script src="/js/libs/he.js"></script>
<script src="/js/libs/autosize.min.js"></script>
<script src="/js/libs/jquery.waypoints.min.js"></script>
<% if (voteAttached) { %>
<script src="/js/libs/chart.min.js"></script>
<% } %>
<!-- load post data -->
<script>
    <% console.log('vote attached: ' + voteAttached); %>

    const receivedPostData = {
        post: {
            postId: '<%= post._id %>',
            posted: Boolean(<%= post.posted %>),
            title: '<%= post.title %>',
            subtitle: '<%= post.subtitle %>',
            body: '<%= post.body %>',
            markers: [
                <% for(let i = 0; i < post.markers.length; i++) { %>
                    <% let marker = post.markers[i]; %>
                    {
                        positionIndex: <%= marker.positionIndex %>,
                        position: '<%= marker.position %>',
                        cardId: '<%= marker.cardId %>',
                        header: '<%= marker.header %>',
                        body: '<%= marker.body %>',
                    },
                <% } %>
            ],
            userId: '<%= post.userId %>',
            voteId: '<%= post.voteId %>',
            uniqIpsVisited: <%= post.uniqIpsVisited.length %>,
            totalVisitCount: <%= post.totalVisitCount %>,
            likes: <%= post.likes.length %>,
            currentUserLiked: Boolean(<%= post.currentUserLiked %>),
            countries: [
                <% for(let i = 0; i < post.countries.length; i++) { %>
                    <% let country = post.countries[i]; %>
                    '<%= country %>',
                <% } %>
            ],
        },
        voteAttached: Boolean(<%= voteAttached %>),
        <% if (voteAttached) { %>
            vote: {
                title: '<%= vote.title %>',
                options: [
                    <% for(let i = 0; i < vote.options.length; i++) { %>
                        <% let option = vote.options[i]; %>
                        {
                            id: '<%= option._id %>',
                            title: '<%= option.title %>',
                            voteCount: Number('<%= option.voteCount %>')
                        },
                    <% } %>
                ]
            },
            <% let currentUserVoted = false; %>
            <%
                console.log('voted users ' + JSON.stringify(vote.votedUsers, null, 2));
                console.log('current user id ' + session.userId);
            %>
            <% for(let i = 0; i < vote.votedUsers.length; i++) { %>
                <%  let user = vote.votedUsers[i]; %>
                <% if (user._id == session.userId) { %>
                    <%
                        currentUserVoted = true;
                        console.log('current user voted');
                        break;
                    %>
                <% } %>
            <% } %>
            currentUserVoted: Boolean(<%= currentUserVoted %>),
            <% let userLoggedIn = false; %>
            <% if (session && session.userId) userLoggedIn = true; %>
            userLoggedIn: Boolean(<%= userLoggedIn %>),
        <% } %>
        username: '<%= username %>',
        userAvatarPath: '<%= userAvatarPath %>',
    };
</script>
<% if (session.userId && session.userId == post.userId) { %>
<!-- create additional buttons in header -->
<script src="/js/post/index-header.js"></script>
<% } %>
<!-- load post util lib -->
<script src="/js/post/util.js"></script>
<!-- init maps and other new post page controls -->
<script src="/js/post/index.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjb3frwKoNDFK5GTYJgQw3QPCSlpEjoM8&language=ru&region=RU&libraries=places&callback=initMap" async defer></script>
<% include ../partials/footer.ejs %>