<% include ../partials/header_start.ejs %>

<meta name="description" content="">
<meta name="author" content="">

<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href="/css/clean-blog.css" rel="stylesheet">

<% include ../partials/header_end.ejs %>

<header class="masthead" >
    <div class="overlay" style="background-image: url(<%= country.img %>);"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1><%= post.title %></h1>
                    <h2 class="subheading">
                        <a class="text-white" href="#"><%= __(country.name) %></a>
                    </h2>
                    <span class="meta"><%= __('post.posted.by') %>
                <a href="/user/<%= user.username %>"><%= user.username %></a>
                <%= dateformat(post.createdAt, "в dddd в h:MM:ss, d mmmm yyyy") %></span>
                    <hr>
                    Медицина, Культура
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto post-body">
                <%- toMarkdownHelper(post.body) %>
                <h2>Медицина</h2>
                <p>
                    Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют определения и уточнения направлений прогрессивного развития. Задача организации, в особенности же сложившаяся структура организации влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют определения и уточнения направлений прогрессивного развития. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий представляет собой интересный эксперимент проверки новых предложений. Товарищи! рамки и место обучения кадров представляет собой интересный эксперимент проверки модели развития. Задача организации, в особенности же начало повседневной работы по формированию позиции играет важную роль в формировании существенных финансовых и административных условий.
                </p>
                <h2>Культура</h2>
                <p>
                    С другой стороны начало повседневной работы по формированию позиции играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации соответствующий условий активизации. Таким образом рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития. С другой стороны новая модель организационной деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач.
                </p>
            </div>
        </div>
    </div>
</article>

<% include ../partials/footer.ejs %>