<% include ../partials/header_start.ejs %>
<link rel="stylesheet" href="/css/post-editor.css">
<link rel="stylesheet" href="/css/trix.css">
<script src="/js/trix.js"></script>
<% include ../partials/header_end.ejs %>

<div class="container mt-5">
    <div id="errors"></div>
    <form id="post-form" action="<%= locals.post ? '/post/update/' + post._id : '/post/new/simple' %>" method="post">
        <div class="row">
            <div class="col-12">
                <div class="form-group mb-3">
                    <input id="post-title-main" type="text" class="form-control post-title border-0" name="title" placeholder="* <%= __('post.title.placeholder') %>" required autofocus autocomplete="off" value="<%= locals.post ? post.title : '' %>">
                    <small id="post-title-main-error" class="form-text text-danger"></small>
                </div>
                <hr>
                <div class="form-group">
                    <input id="body-input" type="hidden" name="body" value="<%= locals.post ? post.body : '' %>">
                    <trix-editor id="post-body-main" class="form-control post-body border-0" input="body-input" placeholder="* <%= __('post.body.placeholder') %>"></trix-editor>
                    <small id="post-body-main-error" class="form-text text-danger"></small>
                    <p><small class="text-muted"><%= __('post.body.editor.help') %></small></p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mb-2">
            <div id="new-post-footer" class="position-sticky position-fixed fixed-bottom">
                <div class="col-12 col-md-6 form-group d-flex flex-row float-right">
                    <select id="country-select" class="custom-select mr-1" name="country" required >
                        <option value="" disabled selected hidden>* <%= __('post.country.select') %></option>
                        <% for(var i = 0; i < countries.length; i++) { %>
                            <% var country = countries[i]; %>
                            <option value="<%= country._id %>" <%= locals.post && country._id == post.countryId ? 'selected="selected"' : '' %>><%= __(country.name) %></option>
                        <% } %>
                    </select>
                    <button type="button" class="btn btn-outline-success" onclick="$('#post-form').submit()"><%= locals.post ? __('post.save') : __('post.submit') %></button>
                </div>
            </div>
        </div>
    </form>
</div>

<% include ../partials/editor_preparation.ejs %>

<% include ../partials/footer.ejs %>