<% include ../partials/header_start.ejs %>
<link rel="stylesheet" href="/css/libs/alertify.css">
<link rel="stylesheet" href="/css/post/card.css">
<link rel="stylesheet" href="/css/user/profile.css">
<% include ../partials/header_end.ejs %>
<div class="container page-content-container">
    <div class="row d-flex flex-row">
        <div id="avatar-placeholder" class="col-4">
            <div id="avatar-container" class="card-shadow rounded"><img id="avatar" src="" width="auto" height="100%" alt=""></div>
        </div>
        <div class="col-8 d-flex flex-column">
            <h3 id="username">gotoss08</h3>
            <div>Количество публикаций: <span id="posts-count">0</span></div>
            <div>Общее количество отметок "понравилось": <span id="likes-count">0</span></div>
            <div>Общее количество уникальных просмотров: <span id="unique-views-count">0</span></div>
            <div>Общее количество посещений статей: <span id="visit-count">0</span></div>
        </div>
        <div class="col-12">
            <div id="load-posts-buttons">
                <hr>
                <button id="drafts-button" class="default-button load-posts-button">Черновики</button>
                <button id="publications-button" class="default-button load-posts-button">Публикации</button>
            </div>
            <hr>
            <div class="cards d-flex justify-content-center"></div>
        </div>
    </div>
</div>
<template id="card-template">
    <div class="waypoint-card meta-card rounded">
        <div class="waypoint-card-header card-bg-hover d-flex flex-row">
            <div class="meta-card-header-titles mr-auto" title="Открыть эту заметку">
                <div class="waypoint-card-header-input meta-title"></div>
                <div class="waypoint-card-header-input meta-subtitle"></div>
            </div>
            <div class="meta-card-header-buttons d-flex flex-row">
                <button class="post-edit-button" title="Редактировать заметку"><i class="fas fa-edit" style="color:black"></i></button>
                <button class="post-remove-button" title="Удалить заметку"><i class="fas fa-trash-alt" style="color:red"></i></button>
            </div>
        </div>
        <hr class="card-divider">
        <div class="waypoint-card-body">
            <div class="form-control waypoint-card-body-editor meta-body"></div>
        </div>
        <hr class="card-divider">
        <div class="meta-card-footer d-flex flex-column">
            <div class="card-bg-hover d-flex flex-row align-items-center p-2">
                <span class="meta-likes" title="Количество людей, которым <b>понравилась</b> эта заметка">
                    <i class="far fa-heart faa-pulse-hover mr-1"></i>
                    <span class="meta-like-counter"></span>
                </span>
                <span class="meta-views mr-auto" title="Количество <b>уникальных</b> просмотров заметки">
                    <i class="fas fa-eye ml-2 mr-1"></i>
                    <span class="meta-views-counter"></span>
                </span>
                <div class="meta-card-footer-item d-flex flex-column">
                    <div class="d-flex flex-row align-items-center mb-1">
                        <div class="meta-date"></div>
                    </div>
                    <div class="meta-country mr-2">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<!-- masonry lib for smart card layout -->
<script src="/js/libs/masonry.pkgd.min.js"></script>
<!-- lorem ipsum generator lib -->
<script src="/js/libs/holder-ipsum.js"></script>
<!-- moment js lib for dates manipulation -->
<script src="/js/libs/moment.min.js"></script>
<script src="/js/libs/moment.locale.ru.js"></script>
<!-- he lib for decoding html -->
<script src="/js/libs/he.js"></script>
<!-- jquery truncate lib for easy text crop -->
<script src="/js/libs/jquery.truncate.js"></script>
<!-- tippy lib for confirm dialog -->
<script src="/js/libs/alertify.js"></script>
<!-- profile scripts -->
<!-- load custom profile header -->
<script src="/js/user/profile-header.js"></script>
<script>
    var profileData = {
        id: '<%= user._id %>',
        username: '<%= user.username %>',
        userAvatarPath: '<%= user.avatarPath %>',
        currentUser: Boolean(<%= currentUser %>),
        postsCount: <%= postsCount %>,
        totalLikesCount: <%= totalLikesCount %>,
        totalVisitCount: <%= totalVisitCount %>,
        totalUniqViewsCount: <%= totalUniqViewsCount %>,
    };
</script>
<script src="/js/user/profile.js"></script>
<% include ../partials/footer.ejs %>