<% include ../partials/header.ejs %>
<div class="col-12 mt-4">
    <h1><%= __('user.profile.header') %></h1>
    <p><%= __('user.profile.username') %>: <%= username %></p>
    <p><%= __('user.profile.email') %>: <%= email %></p>
    <p>User id: <%= session.userId %></p>
</div>
<% include ../partials/footer.ejs %>