<% include ../partials/header_start.ejs %>
<link rel="stylesheet" href="/css/user/register.css">
<% include ../partials/header_end.ejs %>

<div class="container mt-5">
    <div class="col-12 pb-3">
        <h1><%= __('register.header') %></h1>
    </div>
    <div class="col-5">
        <form id="registerForm" action="/user/register" method="post">
            <div class="form-group">
                <input type="text" id="usernameInput" name="username" class="form-control" placeholder="<%= __('register.username.placeholder') %>">
            </div>
            <div class="form-group">
                <input type="email" id="emailInput" name="email" class="form-control" placeholder="<%= __('register.email.placeholder') %>">
            </div>
            <hr>
            <small id="passwordHelpBlock" class="form-text text-muted pb-2"><%= __('register.password.help') %></small>
            <div class="form-group">
                <input type="password" id="passwordInput" name="password" class="form-control" placeholder="<%= __('register.password.placeholder') %>">
            </div>
            <div class="form-group">
                <input type="password" id="passwordConfirmationInput" name="passwordConfirmation" class="form-control" placeholder="<%= __('register.passwordConfirmation.placeholder') %>">
            </div>
            <hr>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><%= __('register.submit') %></button>
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer.ejs %>