<% include ../partials/full_header.ejs %>

<div class="container">
	<div class="row mt-5 mb-5">
		<div class="col-12">
			<form action="/search" method="get">
				<div class="input-group">
					<input type="text" class="form-control" name="query" value="<%= query %>" placeholder="Search text..." autocomplete="off" autofocus required>
					<div class="input-group-append">
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
				</div>
			</form>
			<% if(query) { %>
				<h2 class="mt-3"><%= results.length %> results for "<%= query %>"</h2>
			<% } %>
			<% for(let i = 0; i < results.length; i++) { %>
				<% let result = results[i]; %>
				<div>
					<a href="<%= result.url %>"><%= result.text %></a>
				</div>
			<% } %>
		</div>
	</div>
</div>

<% include ../partials/footer.ejs %>